.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 5s infinite;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.customContainer {
  background-color: #282c34 !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes App-logo-spin{
  20%,50%,80%,to{
      transform: translateY(0);
  }
  40%{
      transform: translateY(-30px);
  }
  70%{
      transform: translateY(-15px);
  }
  90%{
      transform: translateY(-4px);
  }
}
